.navbarContainer {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 95.9vw;
  height: 16vh;
  background-color: #9f005d;
  border: solid #9f005d;
  color: #ba0089;
  font-size: 7vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

#navLink {
  color: whitesmoke;
  font-size: 4vh;
}

.vacio {
  width: 20vw;
}
