body {
    background-color: #f9f9fc;
    padding: 150px;
    font-family: Arial;
  }
  
  #menu {
    background-color: #f7f5f6;
    border-bottom: solid 2px #bb056f;
    margin-top: 2px;
  }
  
  #menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #menu ul li {
    display: inline-block;
  }
  
  #menu ul li a {
    color: #b66a96;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  #menu ul li a:hover {
    background-color: white;
    border-top: solid 2px #9e005d;
    font-weight: bolder;
  }
  
  .formUser {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px;
  }
  
  .imageUser {
    grid-row: 1/4;
    width: 100px;
    height: 100px;
    width: 300px;
    height: 300px;
    background-color: grey;
  }
  
  .menuLink li .active{
    background-color: white;
    border-top: solid 2px #9e005d;
    font-weight: bolder;
  }
  
  .formName,
  .formCorreo,
  .formPais,
  .formCiudad,
  .formDireccion,
  .formBoton {
    width: 200px;
  }
  