.stocksNewProduct div {
  display: flex;
  justify-content: space-between;
  margin: 6px;
}

.createNewProduct {
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 1;
  width: auto;
  border-radius: 33px;
}

.coverImage .imgProduct {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.coverImage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.restImages {
  display: flex;
  flex-wrap: wrap;
}
.restImages .imgProduct {
  width: 50%;
  height: 220px;
}

.partsEdit {
  width: 50%;
}

.editImage {
  flex-direction: initial !important;
}

.coverImage.partsEdit {
  position: relative;
}

.imgProduct {
  position: relative;
}

.imgProduct button {
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px 5px;
}

.floatButtons {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: auto !important;
  z-index: 10;
}

.floatButtons button {
  width: fit-content;
  border-radius: 30px;
}

.btnSave {
  transform: translateY(-10px);
}
input.path {
  height: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  z-index: 100;
}

button#saveBtn {
  height: 100%;
  width: 100%;
}

input.imgLoader.partsEditImg {
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

input.imgLoader.partsEditImg {
  opacity: 0;
}
.cardProductos {
  text-align: left;
  position: relative;
}

.inputFile {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  height: 100px;
  cursor: pointer;
  color: transparent;
  margin-bottom: 10px;
  background-color: #ddd;
  height: 100px;
}

.cardProductos .info {
  background: linear-gradient(
    138deg,
    rgb(255 255 255) 0%,
    rgba(158, 0, 93, 0) 65%
  );
  height: 100%;
}

.cardProductos {
  background-size: cover;
}
