.stocksNewProduct div {
  display: flex;
  justify-content: space-between;
  margin: 6px;
}

.createNewProduct {
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 1;
  width: auto;
  border-radius: 33px;
}

.coverImage .imgProduct {
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.coverImage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.restImages {
  display: flex;
  flex-wrap: wrap;
}
.restImages .imgProduct {
  width: 50%;
}

.partsEdit {
  width: 50%;
}

.editImage {
  flex-direction: initial !important;
}

.coverImage.partsEdit {
  position: relative;
}

.imgProduct {
  position: relative;
}

.imgProduct button {
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 5px;
}

.floatButtons {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: auto;
}

.floatButtons button {
  width: fit-content;
  border-radius: 30px;
}

.btnSave {
  transform: translateY(-10px);
}

.imgLoader {
  width: 100%;
  height: 100%;
}
