.cardAdmin {
  display: inline-block;
  width: 300px;
  height: 250px;
  padding: 5px;
  margin: 10px;
  border: none;
  box-shadow: 2px 2px 2px grey;
  font-size: 10px;
}

.cardsProducts {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  text-align: center;
  margin-left: 5px;
}

.cardData {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
  text-align: center;
  padding: 5px;
  align-items: center;
}
.cardData .price {
  font-size: 28px;
}
.cardData h5 {
  font-size: 18px;
}
.cardData .category {
  font-size: 20px;
}
.iconCard {
  font-size: 5vh;
}
.crearNuevo {
  font-size: 26px;
  text-align: center;
  align-items: center;
}
/* ////////NEW PRODUCT////////// */

.partsNew {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
  width: 60%;
}

.new h3 {
  margin-left: 100px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 600;
}

.nombre {
  display: flex;
  flex-direction: column;
}

.AddPhoto {
  margin-left: 100px;
  position: relative;
}
.precio {
  display: flex;
  flex-direction: column;
}
.icon {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  font-size: 2em;
}

.formNew {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
}
.formNew h3 {
  margin-left: 0%;
  font-size: 24px;
  font-weight: 600;
}
.nombre input {
  width: 70%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  margin-bottom: 5px;
}

.precio input {
  width: 70%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  margin-bottom: 5px;
}

.categorias select {
  width: 70%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  margin-bottom: 25px;
}
.stock {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr;
  grid-template-rows: auto;
  gap: 1em;
}
.stock button {
  width: 10vh;
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;
}
.stock p {
  text-align: center;
  font-size: 2em;
}

.create {
  width: 70%;
}
.create button {
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;
}

.editImage {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  column-gap: 15px;
  padding: 5px;
  margin-left: 20px;
  font-size: 5vh;
}

.AddPhoto {
  position: relative;
}

.AddPhoto .icon {
  position: absolute;
  left: 245px;
  bottom: -4px;
  color: #9e005d;
}

.AddPhoto div {
  position: absolute;
}

.icon svg {
  font-size: 60px;
}

.Container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardsProducts {
  display: flex;
  flex-direction: inherit;
  height: "180px";
}

.cardParts {
  width: 50%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: 50%;
}

.cardProductos {
  flex-direction: initial !important;
  background-color: #eee;
}

.editImage {
  position: relative;
  display: flex;
  justify-content: center;
}
.nombrePrecio input {
  margin: 10px 0;
  width: 90%;
}
.partsEdit {
  width: 50%;
}
